In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv('../final_data/final_movies.csv')
movies

,title,movie_id,release_date,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count,production_countries_code,release_year,release_month
0,Toy Story,862,1995-10-30,Toy Story Collection,30000000,Animation|Comedy|Family,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,...,373554033.0,81.0,English,Released,NaN,7.7,5415.0,US,1995.0,10.0
1,Jumanji,8844,1995-12-15,NaN,65000000,Adventure|Family|Fantasy,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,...,262797249.0,104.0,English|Fran√ßais,Released,Roll the dice and unleash the excitement!,6.9,2413.0,US,1995.0,12.0
2,Grumpier Old Men,15602,1995-12-22,Grumpy Old Men Collection,0,Comedy|Romance,en,A family wedding reignites the ancient feud be...,11.7129,Lancaster Gate|Warner Bros.,...,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0,US,1995.0,12.0
3,Waiting to Exhale,31357,1995-12-22,NaN,16000000,Comedy|Drama|Romance,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,...,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,6.1,34.0,US,1995.0,12.0
4,Father of the Bride Part II,11862,1995-02-10,Father of the Bride Collection,0,Comedy,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,...,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,5.7,173.0,US,1995.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,Robin Hood,30840,1991-05-13,NaN,0,Action|Drama|Romance,en,"Yet another version of the classic epic, with ...",5.683753,20th Century Fox Television|CanWest Global Com...,...,0.0,104.0,English,Released,NaN,5.7,26.0,CA|DE|GB|US,NaN,NaN
45375,Century of Birthing,111109,2011-11-17,NaN,0,Drama,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,...,0.0,360.0,NaN,Released,NaN,9.0,3.0,PH,NaN,NaN
45376,Betrayal,67758,2003-08-01,NaN,0,Action|Drama|Thriller,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,...,0.0,90.0,English,Released,A deadly game of wits.,3.8,6.0,US,NaN,NaN
45377,Satan Triumphant,227506,1917-10-21,NaN,0,NaN,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,...,0.0,87.0,NaN,Released,NaN,0.0,0.0,RU,NaN,NaN
45378,Queerama,461257,2017-06-09,NaN,0,NaN,en,50 years after decriminalisation of homosexual...,0.163015,NaN,...,0.0,75.0,English,Released,NaN,0.0,0.0,GB,NaN,NaN

In [3]:
cast = pd.read_csv('../final_data/final_cast.csv')
cast

,movie_id,cast_id,character,gender,id,name,order,credit_id
0,862,14,Woody (voice),2,31,Tom Hanks,0,52fe4284c3a36847f8024f95
1,862,15,Buzz Lightyear (voice),2,12898,Tim Allen,1,52fe4284c3a36847f8024f99
2,862,16,Mr. Potato Head (voice),2,7167,Don Rickles,2,52fe4284c3a36847f8024f9d
3,862,17,Slinky Dog (voice),2,12899,Jim Varney,3,52fe4284c3a36847f8024fa1
4,862,18,Rex (voice),2,12900,Wallace Shawn,4,52fe4284c3a36847f8024fa5
...,...,...,...,...,...,...,...,...
562469,227506,2,NaN,2,544742,Iwan Mosschuchin,0,52fe4ea59251416c7515d7d5
562470,227506,3,NaN,1,1090923,Nathalie Lissenko,1,52fe4ea59251416c7515d7d9
562471,227506,4,NaN,2,1136422,Pavel Pavlov,2,52fe4ea59251416c7515d7dd
562472,227506,5,NaN,0,1261758,Aleksandr Chabrov,3,52fe4ea59251416c7515d7e1
562473,227506,6,NaN,1,29199,Vera Orlova,4,52fe4ea59251416c7515d7e5

In [4]:
crew = pd.read_csv('../final_data/final_crew.csv')
crew.name.loc[(crew.movie_id == 862) & (crew.job == 'Director')].values[0]

'John Lasseter'

In [5]:
crew

,movie_id,credit_id,department,gender,id,job,name
0,862,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter
1,862,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon
2,862,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton
3,862,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen
4,862,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow
...,...,...,...,...,...,...,...
464309,67758,52fe4776c3a368484e0c8399,Sound,0,549356,Original Music Composer,Richard McHugh
464310,67758,52fe4776c3a368484e0c839f,Camera,2,58818,Director of Photography,Jo√£o Fernandes
464311,227506,533bccebc3a36844cf0011a7,Directing,0,1085341,Director,Yakov Protazanov
464312,227506,58ebbc26925141281908aa0a,Production,2,1195656,Producer,Joseph N. Ermolieff
464313,461257,593e676c92514105b702e68e,Directing,0,1344495,Director,Daisy Asquith

In [6]:
director_per_movie = crew[['movie_id','name']].loc[crew.job == 'Director']
director_per_movie = director_per_movie.rename(columns={'name':'director'})

In [7]:
director_per_movie.movie_id = director_per_movie.movie_id.astype(str)

In [8]:
merged_df = pd.merge(movies,director_per_movie,how='left',on='movie_id')

Elimino las filas que tiene duplicados el campo de movie_id

In [9]:
movies.movie_id.value_counts()

141971    3
23305     2
168538    2
109962    2
119916    2
         ..
23104     1
37605     1
91727     1
41597     1
461257    1
Name: movie_id, Length: 45349, dtype: int64

In [10]:
movies = movies.drop_duplicates(subset='movie_id')
movies.movie_id.value_counts()

862       1
38309     1
300168    1
132316    1
74458     1
         ..
39053     1
37169     1
24805     1
43517     1
461257    1
Name: movie_id, Length: 45349, dtype: int64

Creo una lista con los actores de cada pelicula

In [11]:
actors_df = pd.DataFrame(columns={'movie_id':[],'actors':[]})

In [12]:
# Una forma para ver los actores que tiene una pelicula por su movie_id
cast.name.loc[cast.movie_id == 862].unique()

array(['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney',
       'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris',
       'Erik von Detten', 'Laurie Metcalf', 'R. Lee Ermey',
       'Sarah Freeman', 'Penn Jillette'], dtype=object)

Elimino algunas filas que tiene como movie_id valores tipo fecha, que corresponden a la columna release_date. Se ve como los datos de estas filas estan mal cargados, como que estan corridos una columna a la derecha, ocasionando una erronea carga de los datos

In [13]:
movies.loc[movies.movie_id.str.contains('-')]

,title,movie_id,release_date,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,vote_average,vote_count,production_countries_code,release_year,release_month
19714,NaN,1997-08-20,2009-01-19,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,Carousel Productions|Telescene Film Group Prod...,104.0,Released,NaN,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,1.0
29472,NaN,2012-09-29,2010-09-23,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,Aniplex|BROSTA TV|GoHands|Mardock Scramble Pro...,68.0,Released,NaN,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,9.0
35543,NaN,2014-01-01,2011-12-14,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,Odyssey Media|Pulser Productions|Rogue State|T...,82.0,Released,Beware Of Frost Bites,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,12.0

In [14]:
# Decido eliminar estas filas ya que contiene varios campos con valores nulos
movies = movies.drop(movies.loc[movies.movie_id.str.contains('-')].index)

In [15]:
movies.loc[movies.movie_id.str.contains('-')]

Empty DataFrame
Columns: [title, movie_id, release_date, belongs_to_collection, budget, genres, original_language, overview, popularity, production_companies, production_countries, revenue, runtime, spoken_languages, status, tagline, vote_average, vote_count, production_countries_code, release_year, release_month]
Index: []

[0 rows x 21 columns]

In [16]:
for id in movies.movie_id:
    data = {}
    actors = cast.name.loc[cast.movie_id == int(id)].unique()
    list_actors = ''
    for actor in actors:
        list_actors += actor
        list_actors += '|'
    
    
    data['movie_id'] = id
    data['actors'] = list_actors[:-1]
    actors_df = actors_df.append(data, ignore_index=True)

In [17]:
actors_df.head()

  movie_id                                             actors
0      862  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1     8844  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2    15602  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3    31357  Whitney Houston|Angela Bassett|Loretta Devine|...
4    11862  Steve Martin|Diane Keaton|Martin Short|Kimberl...

# ‚òª

In [18]:
print('Actors df movie_ids',len(actors_df.movie_id.unique()))
print('Movie df movie_ids',len(movies.movie_id.unique()))

Actors df movie_ids 45346
Movie df movie_ids 45346

In [19]:
actors_df.movie_id.loc[actors_df.actors.str.contains('Robin Williams')]

1          8844
139       11000
183       11472
200        9090
413       46924
          ...
31029     36952
31706    259963
43325     21586
43482     27631
43509     20211
Name: movie_id, Length: 82, dtype: object

In [20]:
actors_df.to_csv('../final_data/actors_data.csv',sep=',',lineterminator='\n',index=False)

In [21]:
merged_df = pd.merge(merged_df,actors_df, how='left',on='movie_id')
merged_df = merged_df.drop_duplicates(subset='movie_id')
merged_df.shape

(45349, 23)

In [22]:
merged_df.head()

,title,movie_id,release_date,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,...,spoken_languages,status,tagline,vote_average,vote_count,production_countries_code,release_year,release_month,director,actors
0,Toy Story,862,1995-10-30,Toy Story Collection,30000000,Animation|Comedy|Family,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,...,English,Released,NaN,7.7,5415.0,US,1995.0,10.0,John Lasseter,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1,Jumanji,8844,1995-12-15,NaN,65000000,Adventure|Family|Fantasy,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,...,English|Fran√ßais,Released,Roll the dice and unleash the excitement!,6.9,2413.0,US,1995.0,12.0,Joe Johnston,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2,Grumpier Old Men,15602,1995-12-22,Grumpy Old Men Collection,0,Comedy|Romance,en,A family wedding reignites the ancient feud be...,11.7129,Lancaster Gate|Warner Bros.,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,6.5,92.0,US,1995.0,12.0,Howard Deutch,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3,Waiting to Exhale,31357,1995-12-22,NaN,16000000,Comedy|Drama|Romance,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,...,English,Released,Friends are the people who let you be yourself...,6.1,34.0,US,1995.0,12.0,Forest Whitaker,Whitney Houston|Angela Bassett|Loretta Devine|...
4,Father of the Bride Part II,11862,1995-02-10,Father of the Bride Collection,0,Comedy,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,...,English,Released,Just When His World Is Back To Normal... He's ...,5.7,173.0,US,1995.0,2.0,Charles Shyer,Steve Martin|Diane Keaton|Martin Short|Kimberl...

Elimino las columnas que se crearon de actors que estan de mas

In [ ]:
#merged_df = merged_df.drop(columns={'actors_x','actors_y','actors_x.1','actors_y.1'})

In [24]:
merged_df.to_csv('../final_data/combined_data.csv',sep=',',index=False,lineterminator='\n')